html {
  max-width: 90%;
  box-sizing: border-box;

  margin: auto;
  padding: 0;
}
body {
  max-width: 90%;
  box-sizing: border-box;
  display: grid;
  font-size: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 9fr 0.5fr;
  grid-template-areas:
    "header "
    " main "
    " footer ";

  margin: auto;
  padding: auto;
  color: white;
  background: -webkit-linear-gradient(
    90deg,
    rgb(22, 135, 237),
    rgb(20, 55, 90)
  );
  background: linear-gradient(90deg, rgb(22, 135, 237), rgb(20, 55, 90));
}

header {
  text-align: center;
  vertical-align: middle;
  grid-area: header;
  background: black;
}
header h1 {
  text-decoration: underline;
  background: yellow;
}
main {
  background-image: url(background-blue.jpg);
  grid-area: main;
  padding: 2em;
  vertical-align: middle;
  text-align: center;
  display: no-repeat;
}
main h2 {
  text-decoration: underline;
}
main ul {
  text-align: justify;
}
main p {
  color: #a9a9a9;

  text-align: justify;
  font-family: Arial, sans-serif;
  letter-spacing: 0.3em;
  color: darkred;
}

a {
  color: black;
  padding: 1em;
}
a:hover {
  color: gold;
}
a:visited {
  background-color: red;
}
hr {
  margin: 2em;
}
table,
th,
td {
  color: black;
  border: 1em solid black;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  padding: auto;
}
blockquote {
  background: grey;
  border-left: 3px solid firebrick;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  margin: auto;
  padding: auto;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 160%;
}

footer {
  text-align: center;
  vertical-align: middle;
  grid-area: footer;
  background: burlywood;
  font-size: 0.5em;
}
.villagers {
  border-left: green 2px solid;
}
.farmer {
  border-left: blue 2px solid;
}
.bad {
  color: red;
}
.good {
  color: green;
}
img {
  float: left;
  position: fixed;
}

/* config pour nickAPP.html */
/* header {
  grid-column: 1/2;
  grid-row: 1/2;
  background: purple;
}
main {
  grid-column: 2/3;
  grid-row: 1/4;
  background: yellow;
}
footer {
  grid-row: 1/2;
  grid-column: 3/4;
  background: burlywood;
} 
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 50px 100px 40px;
  grid-template-rows: 300px 2000px 590px;}
  */
